header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 44px;
}

.container {
  margin-left: 24px;
  margin-right: 24px;
}

header a {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
  color: #28352f;
}

.section-1 {
  background-image: url(../images/backgroundMobile.png);
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.icons {
  display: flex;
  justify-content: center;
  list-style: none;
}

.icons li a {
  margin-right: 20px;
}

.p1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-bottom: 58px;
}

.p1 span {
  display: block;
  color: #36b37e;
}

.p2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
  margin-bottom: 58px;
}

.container-2 {
  margin-left: 26px;
  margin-right: 22px;
}

.cricle {
  width: 80px;
  height: 80px;
  margin-top: 40px;
  border-radius: 100%;
  background: white;
  box-shadow: 0 16px 24px rgba(37, 47, 137, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-section {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  row-gap: 24px;
}

.work-section h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.card {
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  width: 327px;
}

.project-details {
  margin-top: 252px;
  height: 222px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.project-details h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}

.project-details ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  width: 100%;
}

.project-details ul li {
  background: #eff0ee;
  border-radius: 4px;
  padding: 8px 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
}

.button-style {
  padding: 12px;
  background: #36b37f;
  border-radius: 4px;
  border: none;
  color: white;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.03em;
}

.project-details button {
  width: 122px;
}

.aboutme {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  row-gap: 24px;
}

.aboutme h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #172b4d;
}

.aboutme p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.aboutme button {
  width: 159px;
}

.aboutme .card-2 {
  width: 327px;
  height: 352px;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-2 h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
  margin-top: 64px;
}

.card-2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-2 ul li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  background-color: white;
  border-radius: 8px;
  padding: 12px;
  margin-left: 8px;
  margin-bottom: 8px;
}
